# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*

# Build output
.next/
out/
build/

# Testing
coverage/

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment files
.env*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Docker
Dockerfile
.dockerignore

# Git
.git/
.gitignore
